@model IEnumerable<DataLayer.PageGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success" id="btnNewGroup">Create New Group</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GroupID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GroupID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GroupID })
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section scripts
{

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $("#btnNewGroup").click(function () {
            $.get("/Admin/PageGroups/Create", function (result) {

                $("#myModal").modal();
                $("#myModalLabel").html("Create New Group");
                $("#myModalBody").html(result);
            });
        });
    </script>
}